/* https://dev.to/michaelburrows/how-to-create-an-animated-flip-card-with-css-3d-transforms-4ckj */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .perspective-600 {
    perspective: 600px;
  }

  .transition-3D {
    transition: transform 2s;
    transform-style: preserve-3d;
  }

  .transformy-3D {
    transform: rotateY(180deg);
    transition: transform 2s;
  }

  .rotateY-3D {
    transform: rotateY(180deg);
  }
}

@layer components {
  .flashcard {
    width: 83.333333%;
    height: 33.333333%;
    margin-top: 25%;

    @media (min-width: 640px) {
      height: 75%;
      margin-top: 5%;
    }
    @media (min-width: 768px) {
      width: 75%;
    }

    @media (min-width: 1280px) {
      margin-top: 2.5rem;
    }
  }

  .flip {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    perspective: 600px;
  }
  .flip-content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  .flipped .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
  }

  .flip-front,
  .flip-back {
    position: absolute;
    backface-visibility: hidden;
    color: #fff;
  }
  .flip-back {
    transform: rotateY(180deg);
  }
}
